/*
Non-drop down menu content
*/
.aboutme-content {
  margin-top: 30vh;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: start;
  z-index: 2;
}

.aboutme-title {
  white-space: nowrap;
  margin-top: -10vh;
  margin-left: 5vh;
  font-size: 35px;
  font-weight: bold;
}

.aboutme-main-content {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-evenly;
  width: 100%;
}

.aboutme-image {
  height: 50vh;
  width: 50vh;
  margin-left: 5vw;
  margin-top: 2vh;
}

.aboutme-bio {
  margin-left: 2.5vh;
  font-size: 20px;
}

.aboutme-cirriculumVitae {
  margin-left: 5vw;
  margin-top: 3.5vh;
  height: 5vh;
  width: 20vw;
  background-color: gainsboro;
  color:black;
  font-family: Arial, Helvetica, sans-serif
}

.aboutme-cirriculumVitae:hover {
  background-color: darkgray;
}

.aboutme-EducationAndExperience {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
}

.aboutme-Education {
  margin-top: 2.5vh;
  margin-left: 5vw;
}

.aboutme-Experience {
  margin-top: 2.5vh;
  margin-left: 35vw;
}

.aboutme-Education-title {
  font-size: 25px;
  font-weight: bold;
}

.aboutme-Experience-title {
  font-size: 25px;
  font-weight: bold;
}

.aboutme-element {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
}

.aboutme-element-image {
  height: 10vh;
}

.aboutme-element-text {
  margin-left: 1vh;
  font-size: 15px;
  margin-top: -1.5vh;
}

body {
  /* Define the linear gradient */
  background: linear-gradient(to bottom,
              transparent 10%,
              #FDFDFD 15%);

  /* Ensure the background covers the entire page */
  min-height: 100vh;
  margin: 0;
}
